@import "./_general.scss";
@import "./_utilis.scss";
@import "./_vars.scss";

header {
    .container {
        display: flex;
        flex-direction: row;
        padding: 15px;

        align-items: center;
    }
}

.comics {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        width: calc(100% / 4);

        padding: 15px;

        img {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}