body {
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.w-100 {
  width: 100;
}

.btn {
  border-style: solid;
  border-color: #0282F9;
  border-width: 2px;
  display: inline-block;
  font-size: 15px;
  font-weight: bolder;
  height: 50px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}

header .container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
}

.comics ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.comics li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding: 15px;
}
.comics li img {
  width: 100%;
  margin-bottom: 15px;
}